<div class="header-wrapper">
    <header>
        <!-- logo and description -->
        
        <a class="site-title" href="/">
        <div class="head-area">
            <!-- <h1 class="site-logo">
                <a href="/"><img src="/assets/img/logo.png" class="logo"/></a>
            </h1> -->
            <h3 class="site-description">{{ site.title }}</h3>
        </div>
        </a>
        
        <nav class="site-nav">
            <div class="left-nav">
                <!-- add titles to all buttons -->
                <div class="ui secondary menu inverted">
                    <a class="item" href="/">
                        Home
                    </a>
                    <a class="item" href="/profile.html">
                        Profile
                    </a>
                    <a class="item" href="/daily.html">
                        Daily
                    </a>
                    <a class="item" href="/spring.html">
                        Spring
                    </a>
                    <a class="item" href="/java.html">
                        Java
                    </a>
                    <div class="right menu">
                        <!-- <div id="head-search" class="ui category search item">
                            <div class="ui transparent icon input">
                                <input placeholder="Search..." type="text" id="search-input" onkeypress="handleKeyPress()">
                                <i class="search link icon" onclick="handleSubmit()"></i>
                            </div>
                        </div> -->
                        
                        <a href="https://hits.seeyoufarm.com"><img class="today" src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Feraserrr.github.io&count_bg=%23FFD1FC&title_bg=%23DFCBE9&title=today&edge_flat=false"/>
                        </a>

                        <a class="item" href="https://github.com/eraserrr">
                            <i class="github link icon"></i>
                        </a>
                        <a class="item" href="https://www.instagram.com/bagjiu2548/">
                            <i class="instagram link icon"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="right-nav"></div>
        </nav>
    </header>
</div>
